.tags-container {
  display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  max-height: 40px;
  overflow-y: hidden;
  background: var(--color-dark);
  width: 100%;
  white-space: nowrap;
}

.tags-container span {
  flex-grow: 1;
  text-decoration: none;
  color: var(--color-light);
  text-weight: bold;
  font-size: 12px;
  background: var(--color-darkest);
  border: 1px solid var(--color-darkest);
  padding: 4px 8px;
  margin: 2px;
  border-radius: 10px;
  flex-grow: 0;
}

.tags-container span:hover {
  border: 1px solid var(--color-green);
  cursor: pointer;
}

.tags-container span.active {
  background: var(--color-green);
  color: var(--color-darkest);
  border: 1px solid var(--color-green);
}

.tags-container::-webkit-scrollbar {
  height: 6px;
}

.tags-container::-webkit-scrollbar-track {
  background: var(--color-dark);        /* color of the tracking area */
}

.tags-container::-webkit-scrollbar-thumb {
  background-color: var(--color-green);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
