.scrolling-text {
  display: inline-block;
  white-space: nowrap;
}

.needs-scroll {
  cursor: pointer;
}

.needs-scroll:hover {
  animation: scroll 5s linear infinite;
}

.scroll-separator {
  margin: 0 4px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

