.song {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr auto 1fr;
	border-bottom: 1px solid var(--color-middle);
	margin: 1px 0;
	font-size: 14px;
}

.text-container {
	width: 80vw;
}

.song:hover {
	cursor: pointer;
	background-color: var(--color-darkest);
}

.current {
	color: var(--color-green);
}

.active {
	background-color: var(--color-darkest);
}

.active2 {
	color: red;
}

.song-text {
	padding: 10px 0;
	display: inline-block;
	z-index: 10;
}

.song > span {
	display: inline-block;
	margin-left: auto;
	padding: 10px;
	background: var(--color-dark);
}
