nav { 
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	background: var(--color-dark);
	width: 100vw;
}
nav > a {
	color: var(--color-light);
	text-decoration: none;
	padding: 8px;
}
