.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.controls button {
	padding: 8px;
	margin: .5px;
	border: none;
	background: none;
	color: var(--color-light);
}

.controls #play {
	color: var(--color-green);
}

.controls button:hover {
	cursor: pointer;
	filter: brightness(50%);
}

.controls .active {
	color: var(--color-green);
	background: none;
}
.controls .active2 {
	color: red;
}
