@font-face {
    font-family: 'circular-black';
    src: url('./assets/font/circular-black.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'circular-black', sans-serif;

	--color-darkest: rgba(18, 18, 18, 0.75);
	--color-dark: rgba(33, 33, 33, 0.75);
	--color-middle: rgba(83, 83, 83, 0.75);
	--color-light: rgba(179, 179, 179, 0.75);
	--color-green: rgba(29, 185, 84, 0.75);
}

body {
	/*background: var(--color-dark);*/
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d9b9c9b2-b80f-4dd6-b0f9-5191aed634c9/dhhjp3z-90e69fd9-dab1-4301-a1d7-83ce1827d4d6.jpg/v1/fill/w_1188,h_673,q_70,strp/cyberpunk_2077_cityscape_wallpaper_by_jmasaryk_dhhjp3z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA2IiwicGF0aCI6IlwvZlwvZDliOWM5YjItYjgwZi00ZGQ2LWIwZjktNTE5MWFlZDYzNGM5XC9kaGhqcDN6LTkwZTY5ZmQ5LWRhYjEtNDMwMS1hMWQ3LTgzY2UxODI3ZDRkNi5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Gqu0QFxH6BDjquB3z4yJ9299pvfULMbd4rqAkMos1mg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	color: var(--color-light);
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  height: 100vh;
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}
