.player {
	display: flex;
	flex-direction: column;
	position: sticky;
	bottom: 0;
	background-color: var(--color-dark);
	overflow: hidden;
	z-index: 10;
  min-height: 120px;
  max-height: 120px;
}

.current-track {
	font-size: 16px;
	padding: 4px;
}

.track-container {
	display: inline-flex;
	width: 100%;
	background: var(--color-green);
	color: var(--color-darkest);
	min-height: 30px;
	max-height: 30px;
  align-items: center;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}


.times {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	margin-top: 8px;
	padding: 0 8px;
}

.spotify {
  opacity: 0.2;
}

.spotify:hover {
  filter: brightness(150%);
}
