.player {
	display: flex;
	flex-direction: column;
	position: sticky;
	bottom: 0;
	background-color: var(--color-dark);
	overflow: hidden;
	z-index: 10;
}

.current-track {
	font-size: 16px;
	padding: 4px;
}

.track-container {
	display: inline-flex;
	width: 100%;
	background: var(--color-green);
	color: var(--color-darkest);
}


.times {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	margin-top: 8px;
	padding: 0 8px;
}
